* {
    padding: 0;
    margin: 0;
}

nav {
    background-color: rgb(109, 111, 99);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    font-weight: bold;
}

h1 {
    color: white;
    font-size: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}

ul li {
    display: inline-block;
}

a {
    color: white;
    text-decoration: none;
}

a:hover{
    color: blue;
}

h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}

div {
    padding-top: 30px;
}

p {
    display: inline-block;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
    vertical-align: top;
    max-width: 50%;
}

img {
    width: 800px;
    height: 600px;
    display: inline-block;
    vertical-align: top; 
    max-width: 45%; 
}

footer {
    position: fixed;  
    bottom: 0;        
    left: 0;          
    width: 100%;      
    background-color: rgb(109, 111, 99);
    color: white;     
    text-align: center; 
    padding: 10px 0;  
}

#seguinos {
    display: block;
    color: white;
    margin-left: 500PX;
}

#simbolodeinstagram {
    width: 50px;
    height: 50px;
    display: block;
    padding: 10px;
    margin-left: 925px;
}
