*{
    padding: 0;
    margin: 0;
}

nav{
    background-color: rgb(109, 111, 99);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}

h1{
    color: white;
    font-size: 45px;
}

ul li{
    display: inline-block;
    padding: 0px 20px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: blue;
}

.product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px; 
    margin: 15px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    max-width: 300px;
    display: inline-block; 
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 100%; 
    height: auto;
    border-radius: 8px;
    max-height: 200px; 
}

h1, h2, h3 {
    color: #333;
    margin-bottom: 10px;
}

p {
    color: #555;
    font-size: 18px;
}

footer{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 22px;
    padding: 30px 0;
}